#todo-error {
  color: red;
  font-size: 2em;
}

#quote {
  font-size: 12pt;
}

#bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#weather-text {
  font-size: 9pt;
}

#weather-number {
  font-size: 17pt;
  margin-bottom: 0px;
  padding-top: 5px;
}

body,
html {
  height: 100%;
}

#quote-row {
  bottom: 0;
}

#list {
  position: absolute;
  top: 27vh;
}
